section.info_empresa{
	margin-top: 25px;
}
section.info_empresa div.contenido{
	padding: 0px;
	background-color: white;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}
section.info_empresa div.contenido > h1{
	padding: 30px 0px 10px;
	line-height: 100%;
	text-transform: uppercase;
	font-family: 'BebasNeue-Book';
	font-size: 33px;
	color: rgba(119,208,219,1);
	text-align: center;
}
section.info_empresa div.contenido h2{
	font-family: 'OstrichSans-Black';
	font-size: 28px;
	color: rgba(119,208,219,1);
	padding: 0px 10px;
}
section.info_empresa div.contenido > h1 > span{
	color: rgba(211,211,211,1);
}
section.info_empresa div.contenido article{
	padding: 25px 10px 20px;
	transition: 0.7s;
}
section.info_empresa div.contenido article:hover{
	background-color: rgba(100,100,100,0.1);
}
section.info_empresa div.contenido > p{
	display: block;
	width: 300px;
	max-width: 100%;
	margin: 0px auto 25px; 
	font-size: 12px;
	text-align: center;
	line-height: 120%;
	color: rgba(131,94,86,0.9);
}
section.info_empresa div.contenido figure{
	width: 100%;
	flex-direction: column;
	position: relative;
}
section.info_empresa div.contenido figure img{
	display: block;
	width: 100%;
	border-radius: 15px;
	height: 100%;
	max-height: 300px;
}
section.info_empresa div.contenido article figure img.hover{
	position: absolute;
	opacity: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	transition: 0.7s all ease;
}
section.info_empresa div.contenido article:hover figure img.hover{
	opacity: 1;
}
section.info_empresa div.contenido p.texto{
	text-align: justify;
	padding: 0px 10px;
	font-size: 12px;
	margin-bottom: 5px;
	color: rgba(131,94,86,0.9);
}
section.info_empresa div.contenido hr{
	margin: 0px 20px 0px;
	border: 0px solid transparent;
	border-top: 1px solid rgba(230,230,230,1);
}
/* Responsive Design */
@media(min-width: 420px){
	header figure h1{
		bottom: 25px;
		font-size: 45px;
	}
	header figure h2{
		bottom: -5px;
		font-size: 25px;
	}
}
@media(min-width: 498px){
}
@media(min-width: 598px){
}
@media(min-width: 768px){
}
@media(min-width: 992px){
}
@media(min-width: 1200px){
}
@media(min-width: 1400px){
}
/* Animacion */